{% extends "layout.njk" %}

{% block content %}

  <section class="product_single container">
  
    <div class="gallery">
      <img src="http://placehold.it/500x500?text=PRODUTO SEM FOTO" />
    </div>
    
    <div class="info">
      <h1>Computador</h1>

      <div class="published">
        <p>publicado em 18 de Dezembro às 21h</p>
      </div>

      <div class="description">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam non commodi, nisi similique nemo reiciendis voluptas nulla, repellat earum corrupti a.</p>
      </div>

      <div class="price_buy">
        <div class="price">
          <h3>R$ 99,99</h3>
        </div>
        <div class="buy">
          <button class="button">Comprar</button>
        </div>
      </div>
    </div>
  </section>
{%endblock%}