section.login.container,
section.forgot-password.container,
section.reset-password.container{
  max-width: 500px;
}

section.login.container .fields{
  margin-bottom: 40px;
}

section.login.container .footer-login ul {
  display: flex;
  justify-content: space-evenly;
}

.footer-login ul li a{
  color: #928f8f;
}

.footer-login ul li a:hover{
  color: black;
}

section.forgot-password.container .fields{
  margin-top: 16px;
  margin-bottom: 32px;
}