<header>
  <div class="container">
    <a href="/">
      <div class="logo">
        <h1>LaunchStore</h1>
        <h2>COMPRA E VENDA</h2>
      </div>
    </a>

    <form class="search" action="/products/search" method="get">
      <input 
        type="text"
        name="filter"
        placeholder="Buscar por Produtos"  
        {% if search.term %}
          value={{search.term}}
        {% endif %}
      >
    </form>

    <nav class = "primary">
      <ul>
        <li>
          <a href="/ads/create">
            <i class="fas fa-plus-circle"></i>
            Novo Anúncio
          </a>
        </li>
        <li class = 'accounts'>
          <a href="/accounts">
            <i class="fas fa-user-circle"></i>
            {% if session.userName %}
              Olá, {{session.userName}}
            {% else %}
              Login
            {% endif %}
          </a>
          {% if session.userID %}
            <ul class="submenu">
              <li>
                <a href="/users">Sua conta</a>
              </li>
              <li>
                <a href="/buying">Seus Pedidos</a>
              </li>
              <li>
                <a href="/users/ads">Suas Vendas</a>
              </li>
              <li>
                <form action="/users/logout" method="post">
                  <button>Sair</button>
                </form>
              </li>
            </ul>
          {% endif %}

        </li>
      </ul>
    </nav>

  </div>  
</header>