  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/v4-shims.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,700|Odibee+Sans&display=swap">
  <link rel="stylesheet" href="/styles/index.css">
  <link rel="stylesheet" href="/styles/messages.css">
  <link rel="stylesheet" href="/styles/menu-accounts.css">
  <link rel="stylesheet" href="/styles/session.css">
  <link rel="stylesheet" href="/styles/card.css">
  <link rel="stylesheet" href="/styles/users.css">
  <link rel="stylesheet" href="/styles/products.css">
  <link rel="stylesheet" href="/styles/orders.css">
  <link rel="stylesheet" href="/styles/cart.css">
  <link rel="stylesheet" href="/styles/dropdown.css">
  